
.main
  %a{:href => "testing.htm"}
    %img.pics{:src => "img/dl2.jpg"}/
  %h4
    %a{:href => "testing.htm"} Комплекты Elinchrom
  %p.text
    Мобильные комплекты серии D-Lite в основном созданы для фотографов работающих на выезде.
    За счет компактных размеров и небольшого веса комплекты позволяют создать компактную
    фотостудию практически в любом месте. Полутвердый кофр для приборов и сумка для штативов
    обеспечивают надежное хранение и транспортировку набора.
  %a.all{:href => "testing.htm"} Подробнее
.main
  %a{:href => "testing.htm"}
    %img.pics{:src => "img/mono.jpg"}/
  %h4
    %a{:href => "testing.htm"} Моноблоки
  %p.text Короткий импульс моноблоков серии Style RX в сочетании с малым временем перезарядки является характерной чертой приборов Elinchrom. И в настоящее время отвечает запросам самых требовательных фотографов. Диапазон и стабильность изменения мощности, а также надежность моноблоков обеспечивает работу приборов в самых разнообразных условиях.
  %a.all{:href => "testing.htm"} Подробнее
.main
  %img.pics{:src => "img/2.jpg"}
    %h4
      %a{:href => "#"} Софт-боксы
    %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse body shell.
    %a.all{:href => "#"} Подробнее
.main
  %img.pics{:src => "img/2.jpg"}
    %h4
      %a{:href => "#"} Аксессуары для софт-боксов
    %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse body shell.
    %a.all{:href => "#"} Подробнее
.main
  %img.pics{:src => "img/5.png"}
    %h4
      %a{:href => "#"} Светофрмирующие насадки
    %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high impact resistant, quality look, body shell.
    %a.all{:href => "#"} Подробнее
.main
  %img.pics{:src => "img/4.png"}
    %h4
      %a{:href => "#"} Средства синхронизации
    %p.text
      Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high impact resistant, quality look, body shell.
    %a.all{:href => "#"} Подробнее
.main
  %img.pics{:src => "img/3.png"}
    %h4
      %a{:href => "#"} Генераторные системы
    %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high impact resistant, quality look, body shell.
    %a.all{:href => "#"} Подробнее
.main
  %img.pics{:src => "img/2.jpg"}
    %h4
      %a{:href => "#"} Аксессуары
    %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high shell.
    %a.all{:href => "#"} Подробнее
