!!!
%html
  %head
    %title Elinchromesale.ru
    %meta{:charset => "utf-8"}
      %link{:href => "stylechrome.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #best
      %a{:href => "index.html"}
        %img.logo{:src => "img/logobottom.png?123"}/
      %ul#menu
        %li
          %a{:href => "index.html"} Главная
        %li
          %a{:href => ""} Каталог
          %ul
            %li
              %a{:href => "testing.htm"} Комплекты
              %ul
                %li
                  %a{:href => "testing.htm"} D-Lite 2
                %li
                  %a{:href => "testing.htm"} D-Lite 4
            %li
              %a{:href => "testing.htm"} Моноблоки
              %ul
                %li
                  %a{:href => "testing.htm"} Style RX 600
                %li
                  %a{:href => "testing.htm"} Style RX 1200
            %li
              %a{:href => "soft.htm"} Софт-боксы
              %ul
                %li
                  %a{:href => "soft1.htm"} Basic
                %li
                  %a{:href => "soft.htm#q"} Quadra
                %li
                  %a{:href => "soft.htm#r"} Recta
                %li
                  %a{:href => "soft.htm#o"} Octa
                %li
                  %a{:href => "soft.htm#i"} Inderect
            %li
              %a{:href => "soft_acc.htm"}
                Аксессуары для
                %br софт-боксов
              %ul
                %li
                  %a{:href => "soft_acc.htm#b"} Бленда-диффузор
                %li
                  %a{:href => "soft_acc.htm#r"} Решетка-диффузор
            %li
              %a{:href => "light.htm"}
                Светоформирующие
                %br насадки
              %ul
                %li
                  %a{:href => "light.htm#r"} Рефлекторы
                %li
                  %a{:href => "light.htm#p"} Портретная тарелка
                %li
                  %a{:href => "light1.htm"}
                    Тубус с сотовым
                    %br фильтром
                %li
                  %a{:href => "light2.htm"} Миниспот
                %li
                  %a{:href => "light3.htm"} Шторки 21 см
                %li
                  %a{:href => "light4.htm"}
                    Сотовый фильтр для
                    %br шторок
                %li
                  %a{:href => "light.htm#s"}
                    Сотовые фильтры для
                    %br рефлектора
                %li
                  %a{:href => "light.htm#z"} Зонты
            %li
              %a{:href => "synchro.htm"}
                Средства
                %br синхронизации
              %ul
                %li
                  %a{:href => "synchro1.htm"}
                    EL Skyport Transmitter
                    %br Speed
                %li
                  %a{:href => "synchro2.htm"}
                    EL Skyport Transmitter
                    %br Eco
                %li
                  %a{:href => "synchro3.htm"}
                    EL Skyport Universal
                    %br Trigger Set
            %li
              %a{:href => "generate.htm"} Генераторные системы
              %ul
                %li
                  %a{:href => "generate.htm#g"} Генераторы
                %li
                  %a{:href => "generate.htm#o"} Осветительные головки
            %li
              %a{:href => "acc.htm"} Аксессуары
              %ul
                %li
                  %a{:href => "acc.htm#s"} Стойки
                %li
                  %a{:href => "acc1.htm"}
                    Настенный держатель
                    %br для фона
                %li
                  %a{:href => "acc2.htm"} Лампа моделирующая
                %li
                  %a{:href => "acc3.htm"} Синхро-кабель
                %li
                  %a{:href => "acc.htm#r"}
                    Рассеиватель для
                    %br портретной тарелки
                %li
                  %a{:href => "acc4.htm"}
                    Набор отражателей для
                    %br портретной тарелки
                %li
                  %a{:href => "acc.htm#k"} Кабель силовой
        %li
          %a{:href => ""} Покупателю
          %ul
            %li
              %a{:href => ""} Доставка
            %li
              %a{:href => ""} Прайс-лист
            %li
              %a{:href => ""} Гарантии
            %li
              %a{:href => ""} Акции
        %li
          %a{:href => ""} Контакты

      %img.photo_main{:src => "img/main.png"}
        .topline
        .left
          %p.position Вся продукция
          %p.name
            %a{:href => "testing.htm"} Комплекты
          %p.product
            %a{:href => "testing.htm"} D-Lite 2
            %br
              %a{:href => "testing.htm"} D-Lite 4
          %p.name
            %a{:href => "testing.htm"} Моноблоки
          %p.product
            %a{:href => "testing.htm"} Style RX 600
            %br
              %a{:href => "testing.htm"} Style RX 1200
          %p.name
            %a{:href => "soft.htm"} Софт-боксы
          %p.product
            %a{:href => "soft1.htm"} Rotalux Basic
            %br
              %a{:href => "soft.htm#q"} Rotalux Quadra
              %br
                %a{:href => "soft.htm#r"} Rotalux Recta
                %br
                  %a{:href => "soft.htm#o"} Rotalux Octa
                  %br
                    %a{:href => "soft.htm#i"} Rotalux Inderect
                    %br
          %p.name
            %a{:href => "soft_acc.htm"} Аксессуары для софт-боксов
          %p.product
            %a{:href => "soft_acc.htm#b"} Бленда-диффузор
            %br
              %a{:href => "soft_acc.htm#r"} Решетка-диффузор
          %p.name
            %a{:href => "light.htm"} Светоформирующие насадки
          %p.product
            %a{:href => "light.htm#r"} Рефлекторы
            %br
              %a{:href => "light.htm#p"} Портретная тарелка
              %br
                %a{:href => "light1.htm"} Тубус с сотовым фильтром
                %br
                  %a{:href => "light2.htm"} Миниспот
                  %br
                    %a{:href => "light3.htm"} Шторки 21 см
                    %br
                      %a{:href => "light4.htm"} Сотовый фильтр для шторок
                      %br
                        %a{:href => "light.htm#s"} Сотовые фильтры для рефлектора
                        %br
                          %a{:href => "light.htm#z"} Зонты
          %p.name
            %a{:href => "synchro.htm"} Средства синхронизации
          %p.product
            %a{:href => "synchro1.htm"} EL Skyport Transmitter Speed
            %br
              %a{:href => "synchro2.htm"} EL Skyport Transmitter Eco
              %br
                %a{:href => "synchro3.htm"} EL Skyport Universal Trigger Set
          %p.name
            %a{:href => "generate.htm"} Генераторные системы
          %p.product
            %a{:href => "generate.htm#g"} Генераторы
            %br
              %a{:href => "generate.htm#o"} Осветительные головки
          %p.name
            %a{:href => "acc.htm"} Аксессуары
          %p.product
            %a{:href => "acc.htm#s"} Стойки
            %br
              %a{:href => "acc1.htm"} Настенный держатель для фона
              %br
                %a{:href => "acc2.htm"} Лампа моделирующая 100 Ватт
                %br
                  %a{:href => "acc3.htm"} Синхро-кабель 5 м
                  %br
                    %a{:href => "acc.htm#r"} Рассеиватель для портретной тарелки
                    %br
                      %a{:href => "acc4.htm"} Набор отражателей для портретной тарелки
                      %br
                        %a{:href => "acc.htm#k"} Кабель силовой
          %p.position_down
            %a{:href => "#"} Наверх
          %p.about
            Люди работающие в нашей фирме имеют многолетний опыт работы в данной индустрии.
            Всё товары в нашем магазине Ekonsale являются подлинным оборудованием известного бренда Elinchrom.
            %br
              %br
                Нам часто задают вопрос почему наши цены ниже средних рыночных. Мы можем ответить на этот вопрос.
                Представленный на сайте товар мы доставляем прямо из Америки, наш склад незначительный по площади.
                %br
                  %br
                    Оборудование реализуемое нами является абсолютно новым. Компетентную консультацию вы можете
                    получить позвонив нам по телефону или через электронную почту. Мы ответим на любой ваш вопрос и поможем
                    во всём, что находится в нашей компетенции.
        .main
          %a{:href => "testing.htm"}
            %img.pics{:src => "img/dl2.jpg"}/
          %h4
            %a{:href => "testing.htm"} Комплекты Elinchrom
          %p.text
            Мобильные комплекты серии D-Lite в основном созданы для фотографов работающих на выезде.
            За счет компактных размеров и небольшого веса комплекты позволяют создать компактную
            фотостудию практически в любом месте. Полутвердый кофр для приборов и сумка для штативов
            обеспечивают надежное хранение и транспортировку набора.
          %a.all{:href => "testing.htm"} Подробнее
        .main
          %a{:href => "testing.htm"}
            %img.pics{:src => "img/mono.jpg"}/
          %h4
            %a{:href => "testing.htm"} Моноблоки
          %p.text Короткий импульс моноблоков серии Style RX в сочетании с малым временем перезарядки является характерной чертой приборов Elinchrom. И в настоящее время отвечает запросам самых требовательных фотографов. Диапазон и стабильность изменения мощности, а также надежность моноблоков обеспечивает работу приборов в самых разнообразных условиях.
          %a.all{:href => "testing.htm"} Подробнее
        .main
          %img.pics{:src => "img/2.jpg"}
            %h4
              %a{:href => "#"} Софт-боксы
            %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse body shell.
            %a.all{:href => "#"} Подробнее
        .main
          %img.pics{:src => "img/2.jpg"}
            %h4
              %a{:href => "#"} Аксессуары для софт-боксов
            %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse body shell.
            %a.all{:href => "#"} Подробнее
        .main
          %img.pics{:src => "img/5.png"}
            %h4
              %a{:href => "#"} Светофрмирующие насадки
            %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high impact resistant, quality look, body shell.
            %a.all{:href => "#"} Подробнее
        .main
          %img.pics{:src => "img/4.png"}
            %h4
              %a{:href => "#"} Средства синхронизации
            %p.text
              Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high impact resistant, quality look, body shell.
            %a.all{:href => "#"} Подробнее
        .main
          %img.pics{:src => "img/3.png"}
            %h4
              %a{:href => "#"} Генераторные системы
            %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high impact resistant, quality look, body shell.
            %a.all{:href => "#"} Подробнее
        .main
          %img.pics{:src => "img/2.jpg"}
            %h4
              %a{:href => "#"} Аксессуары
            %p.text Elinchrom upgraded the D-Lite-it 200 / 400 ws with many new exciting  features. The "it" stands for Intelligent Triggering! The design incorporates a robust stand bracket, a new handle with spare fuse storage and a high shell.
            %a.all{:href => "#"} Подробнее
        %p.down Copyright - Elctro Zhuk, Electro sova, Elektrichka, Electro bomzh
        .clear
