
- @product_groups.each do |pg|
  .main
    = link_to simple_image(pg.image.small, nil, class: 'pics'), pg
    %h4= link_to pg.name, pg
    %p.text
      = pg.description
    = link_to t.helpers.links.more, pg, class: 'all'


