= stylesheet_link_tag 'jquery.ui/smoothness/jquery-ui-1.8.23.custom', 'elfinder'
= javascript_include_tag 'application', 'jquery-ui', 'elfinder_manifest'

:javascript
  $(function() {
    var rails_csrf = {};
    rails_csrf[$('meta[name=csrf-param]').attr('content')] = $('meta[name=csrf-token]').attr('content');

    $('#elfinder').elfinder({
      lang: 'ru',
      height: '600',
      width: '700',
      url: '/filemanager/elfinder',
      transport : new elFinderSupportVer1(),
      customData: rails_csrf,
    })
  })

#elfinder
