.main
  %a{ name: product_group.alias_name }
  = link_to simple_image(product_group.image.small, nil, class: 'pics'), product_group
  %h4= product_group.name
  %p.text
    = simple_format product_group.description

= render product_group.products
