.form-horizontal {
  input {
    &.string, &.password, &.numeric {
      width: 250px;
    }
  }
  textarea {
    width: 95%;
    height: 200px;
  }
  .input-prepend {

    input {
      width: 225px;
    }
  }
  a.btn-mini i {
    margin-right: 5px;
  }

}
