.nav-tabs {
  # float: right;
}

ul.limits {
  float: right;
  position: relative;
  top: -50px;
  margin-bottom: -20px;
  li {
    float: left;
    margin-left: 10px;
  }
}

nav.pagination {
  margin: 0;
}

.list_controls {
  nav.pagination {
    float: right;
  }
}

table {
  th.actions {
    min-width: 100px;
  }
}
