.left
  %p.position Вся продукция
  %p.name
    %a{:href => "testing.htm"} Комплекты
  %p.product
    %a{:href => "testing.htm"} D-Lite 2
    %br
    %a{:href => "testing.htm"} D-Lite 4
  %p.name
    %a{:href => "testing.htm"} Моноблоки
  %p.product
    %a{:href => "testing.htm"} Style RX 600
    %br
    %a{:href => "testing.htm"} Style RX 1200
  %p.name
    %a{:href => "soft.htm"} Софт-боксы
  %p.product
    %a{:href => "soft1.htm"} Rotalux Basic
    %br
    %a{:href => "soft.htm#q"} Rotalux Quadra
    %br
    %a{:href => "soft.htm#r"} Rotalux Recta
    %br
    %a{:href => "soft.htm#o"} Rotalux Octa
    %br
    %a{:href => "soft.htm#i"} Rotalux Inderect
    %br
  %p.name
    %a{:href => "soft_acc.htm"} Аксессуары для софт-боксов
  %p.product
    %a{:href => "soft_acc.htm#b"} Бленда-диффузор
    %br
    %a{:href => "soft_acc.htm#r"} Решетка-диффузор
  %p.name
    %a{:href => "light.htm"} Светоформирующие насадки
  %p.product
    %a{:href => "light.htm#r"} Рефлекторы
    %br
    %a{:href => "light.htm#p"} Портретная тарелка
    %br
    %a{:href => "light1.htm"} Тубус с сотовым фильтром
    %br
    %a{:href => "light2.htm"} Миниспот
    %br
    %a{:href => "light3.htm"} Шторки 21 см
    %br
    %a{:href => "light4.htm"} Сотовый фильтр для шторок
    %br
    %a{:href => "light.htm#s"} Сотовые фильтры для рефлектора
    %br
    %a{:href => "light.htm#z"} Зонты
  %p.name
    %a{:href => "synchro.htm"} Средства синхронизации
  %p.product
    %a{:href => "synchro1.htm"} EL Skyport Transmitter Speed
    %br
    %a{:href => "synchro2.htm"} EL Skyport Transmitter Eco
    %br
    %a{:href => "synchro3.htm"} EL Skyport Universal Trigger Set
  %p.name
    %a{:href => "generate.htm"} Генераторные системы
  %p.product
    %a{:href => "generate.htm#g"} Генераторы
    %br
    %a{:href => "generate.htm#o"} Осветительные головки
  %p.name
    %a{:href => "acc.htm"} Аксессуары
  %p.product
    %a{:href => "acc.htm#s"} Стойки
    %br
    %a{:href => "acc1.htm"} Настенный держатель для фона
    %br
    %a{:href => "acc2.htm"} Лампа моделирующая 100 Ватт
    %br
    %a{:href => "acc3.htm"} Синхро-кабель 5 м
    %br
    %a{:href => "acc.htm#r"} Рассеиватель для портретной тарелки
    %br
    %a{:href => "acc4.htm"} Набор отражателей для портретной тарелки
    %br
    %a{:href => "acc.htm#k"} Кабель силовой
  %p.position_down
    %a{:href => "#"} Наверх
  %p.about
    Люди работающие в нашей фирме имеют многолетний опыт работы в данной индустрии.
    Всё товары в нашем магазине Ekonsale являются подлинным оборудованием известного бренда Elinchrom.
    %br
    %br
    Нам часто задают вопрос почему наши цены ниже средних рыночных. Мы можем ответить на этот вопрос.
    Представленный на сайте товар мы доставляем прямо из Америки, наш склад незначительный по площади.
    %br
    %br
    Оборудование реализуемое нами является абсолютно новым. Компетентную консультацию вы можете
    получить позвонив нам по телефону или через электронную почту. Мы ответим на любой ваш вопрос и поможем
    во всём, что находится в нашей компетенции.
